body {
  background-color: #131313;
  color: #d0d1d2;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  box-sizing: border-box;
}

.navbar {
 background: white;
 height: 100px;
 width: 100%;

 display: flex;
 

}
.navbar .navbar-header{

  

display: flex;

  
  align-items: center;
  padding-left: 30px;
}



.nav{
  
  display: flex;
  justify-content: center
  
  ;
  height: 100%;
  align-items: center;

  margin-left: 250px;
  
  
  

}

.navbar img {
 
  width: 100%;
  
 
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(5, 5, 5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 
  
}

.navbar a:hover{
color: #d0d1d2;
}

.container-fluid {
  background-color: white;
  height: 100px;
  padding: 30px;
}

.nav-1,
.nav-2,
.nav-3,
.nav-4,
.nav-5 {
  margin-left: 70px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
}




.img {
  height: 55px;
  display: grid;
  align-items: center;
}

.abt {
  color: #ffff;
  margin-top: 90px;
}

.heading {
  color: #dbdddf;
  font-family: "Satoshi";
  font-size: 50px;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 70px;
}

.underline1 {
  width: 200px;
  border-bottom: solid;
  margin-left: 70px;
  border-color: #d7fe63;
}

.bg {
  height: 620px;
  width: 100%;
  opacity: 1;
  display: block;
}

.bg-img {
  top: -20px;
  position: relative;
}

.abt-para {
  margin-left: 70px;
  margin-top: 20px;
  font-family: "Satoshi";
  font-size: 18px;
  margin-right: 20px;
  color: #d0d1d2;
}

.team {
  position: absolute;
  top: 1240px;
  height: 700px;
  width: 100%;
}

.tech-team {
  position: absolute;
  width: 390px;
  height: 49px;
  margin-left: 70px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #dbdddf;
}

.underline2 {
  border-bottom: solid;
  margin-left: 80px;
  border-color: #d7fe63;
  width: 223px;
  position: absolute;
  top: 138px;
}

.mem-1 {
  width: 134px;
  height: 43px;
  margin-left: 5px;
  font-family: "Satoshi";
  font-size: 20px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #dbdddf;
  margin-top: 50px;
}

/* ------------- Responsive part for the website ------- */


@media screen and (max-width: 500px), screen and (min-width: 501px) and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  }
  .navbar .navbar-header{

  

    display: block;
      
    
    
    }
  .nav{
  
    display: block;
    
    
    margin-left: 0;
    
    
  
  }

  .navbar img {
    padding-top: 30px;
    
 

    height: 70px;
    width: 50px;
    
   
    
  }
  
  .team {
    text-align: center;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 145px;
    margin-top: 150px;
    height: 100vh;
  
     
      top: 50%;
      transform: translateY(-50%);
    
      width: 100%;
    
    
  }

  .underline2 {
    left: 130px;
    border-bottom: solid;
    border-color: #d7fe63;
    width: 223px;
    margin: 0 auto;
    position: relative;
  }

  .tech-team {
    top: 120px;
    left: 118px;
    position: relative;
    text-align: center;
    margin: 0 auto;
  }

  .bg-img {
    background-size: cover;
    background-position: center;
    width: 100%;
    /* position: relative;
 bottom: 80px;
    margin-top: 0; */
    background: #ffffff;
    margin-top: -2px;

  }

  .heading {
    font-size: 36px;
  }

  .abt-para {
    font-size: 16px;
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 120px;
    margin-top: 50px;
  }

  .swiper-slide {
    width: 90%;
    padding-bottom: 400px;
    
  }

  #nav-nav {
    margin-left: 20px;
  }
 
  

  .nav-1,
  .nav-2,
  .nav-3,
  .nav-4,
  .nav-5 {
    font-size: 20px;
    padding: 10px 15px;
  }
  .navbar{
    display: block;
  }
 
  .navbar a {
    display: none;
   
    
    
    
   
}
.navbar .icon{
  position: relative;
  bottom: 50px;
  font-size: 30px;

}



.navbar a.icon {
    float: right;
    display: block;
   
}

.navbar .navbar-header{

  

  display: block;
    
   
  }

.navbar.responsive {
    position: relative;
    z-index: 1;
    
}

.navbar.responsive a.icon {
    position: absolute;
    top: 0;
    right: 0;

}

.navbar.responsive a {
    display: block;
    text-align: center;
    margin-bottom: 20px;

    
}
  
}
.icon{
  display: none;
}

